@import "tailwindcss";

/*Custom Breakpoint below*/
@media (max-width: 640px) {
    header nav {
        gap: 0.5rem !important;
    }

    header nav .flex.items-center.gap-6 {
        gap: 1rem !important;
    }

    header button {
        padding: 0.5rem 0.75rem !important;
        border-radius: 0.75rem !important;
    }
}

/* Mondwest Regular */
@font-face {
    font-family: 'Mondwest';
    src: url('/fonts/Mondwest-Regular.otf') format('opentype');
    font-weight: 400; /* normal */
    font-style: normal;
}

/* Mondwest Bold */
@font-face {
    font-family: 'Mondwest';
    src: url('/fonts/Mondwest-Bold.otf') format('opentype');
    font-weight: 700; /* bold */
    font-style: normal;
}

/* NeueBit Regular */
@font-face {
    font-family: 'NeueBit';
    src: url('/fonts/NeueBit-Regular.otf') format('opentype');
    font-weight: 400; /* normal */
    font-style: normal;
}

/* NeueBit Bold */
@font-face {
    font-family: 'NeueBit';
    src: url('/fonts/NeueBit-Bold.otf') format('opentype');
    font-weight: 700; /* bold */
    font-style: normal;
}



@import "../src/responsive.css";